*{box-sizing:border-box;margin:0;padding:0;font-family:'Segoe UI';}

body{
    background: linear-gradient(135deg,#141e30,#243b55);
    color:#fff;
    min-height:100vh;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
}

.navbar button{
    padding:10px 18px;
    border:none;
    background:#ff4d4d;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.hero{
    padding:50px 40px;
    text-align:center;
    background:#686752;
}

.hero h2{font-size:32px;margin-bottom:10px;}

.products{
    padding:30px 40px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:rgba(255,255,255,0.08);
    border-radius:14px;
    padding:15px;
    text-align:center;
    transition:.2s;
}

.card:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,0.15);
}

.card img{
    width:100%;
    height:140px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{margin:10px 0 5px;}
.card p{font-size:14px;opacity:.8;}
.card span{
    display:block;
    margin-top:10px;
    font-weight:bold;
    color:#00ffcc;
}

