body {
    background:#F5FBE6;
    font-family: Arial, sans-serif;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.card {
    background:#215E61;
    padding:30px;
    width:350px;
    border-radius:10px;
}

input, button {
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:5px;
    border:none;
}

button {
    background:#00ff9d;
    font-weight:bold;
    cursor:pointer;
}
